<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Onassis Nottage - Energy Consumption Prediction Project</title>
    <link rel="stylesheet" type="text/css" href="static/style.css" />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="/predict">AI Prediction</a></li>
      </ul>
    </nav>
    <div class="container">
      <h1>Energy Consumption Prediction Project</h1>
      <br />
      <p>
        I am Onassis Nottage, a Master's student in Big Data and Artificial
        Intelligence at the University of Barcelona. I have a dual degree in
        Engineering Physics and Mathematics from the University of The Bahamas.
        Currently, I work as a Business Intelligence Analyst at Cable Bahamas
        Ltd. and have experience working as an Assistant Product Specialist and
        Analyst at Bahamas Telecommunications Company Ltd.
      </p>
      <br />
      <p>
        My motivation for this project is to leverage my skills in data science
        and artificial intelligence to predict energy consumption accurately.
        This project aims to help people make informed decisions about their
        energy usage and assist the energy industry in planning for the future.
        For this project, I plan to use data from the US Energy Information
        Administration and NOAA to analyze and predict energy consumption based
        on various features such as temperature, humidity, and time of day.
      </p>
      <br />
      <p>
        My goal for this project is to create an accurate prediction model that
        can help the energy industry better plan for future energy demand. This
        project can also help individuals understand and manage their energy
        consumption more efficiently. I will use tools such as Python, Flask,
        Pandas, Numpy, and Scikit-learn to create the dashboard and prediction
        model.
      </p>
      <br />
      <h2 id="about">About</h2>
      <p>
        The goal of this project is to predict energy consumption based on
        various features such as temperature, humidity, time of day, etc. The
        two sources of data for this project could be energy consumption data
        and weather data. You can get the energy consumption data from the US
        Energy Information Administration (<a
          href="https://www.eia.gov/opendata/qb.php?category=2122628"
          target="_blank"
          >https://www.eia.gov/opendata/qb.php?category=2122628</a
        >) and the weather data from NOAA (<a
          href="https://www.ncdc.noaa.gov/cdo-web/webservices/v2"
          target="_blank"
          >https://www.ncdc.noaa.gov/cdo-web/webservices/v2</a
        >).
      </p>
      <br />
      <h2>Dashboard Features</h2>
      <ul>
        <li>Energy consumption data visualization</li>
        <li>Weather data visualization</li>
        <li>Prediction model output visualization</li>
        <li>User input form for data selection and prediction</li>
      </ul>
      <br />
      <h2>Contact Information</h2>
      <p>Email: oanottage@gmail.com</p>
      <p>
        Social Media Handles:
        <a
          href="https://www.linkedin.com/in/onassis-nottage-2644b1a4/"
          target="_blank"
          >LinkedIn</a
        >
      </p>
    </div>
  </body>
</html>
