<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Energy Consumption Prediction Dashboard</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/predict">AI Prediction</a></li>
      </ul>
    </nav>
    <div class="container">
      <h1>Document Successfully Initialized!</h1>
      <br />
      <p>
        This document has been successfully initialized. You can now view the
        story.
      </p>
      <br />
      <a href="/page1"><button>View Story</button></a>
    </div>
  </body>
</html>
